altgraph==0.17
argon2-cffi==20.1.0
asgiref==3.3.1
astroid==2.4.2
async-generator==1.10
attrs==20.3.0
auto-py-to-exe==2.8.0
Babel==2.9.0
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==3.2.1
blis==0.7.4
bottle==0.12.19
bottle-websocket==0.2.9
branca==0.4.2
bs4==0.0.1
cachetools==4.2.1
catalogue==1.0.0
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
click8==8.0.1
colorama==0.4.4
comtypes==1.1.8
crypto==1.4.1
cryptography==3.3.1
cx-Freeze==6.5.3
cycler==0.10.0
cymem==2.0.5
decorator==4.4.2
defusedxml==0.6.0
Django==3.1.5
django-tinymce4-lite==1.8.0
Eel==0.12.4
entrypoints==0.3
Flask==1.1.2
Flask-SQLAlchemy @ file:///C:/Users/cartis/Desktop/Flask_SQLAlchemy-2.4.4-py2.py3-none-any.whl
folium==0.12.1
fonttools==4.18.2
future==0.18.2
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.0.0
h5py==3.1.0
hurry.filesize==0.9
idna==2.10
importlib-metadata==3.4.0
ipykernel==5.4.2
ipython==7.19.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==5.7.0
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
joblib==1.0.0
jsmin==2.2.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.7.0
jupyterlab-pygments==0.1.2
Keras==2.4.3
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.3.3
mccabe==0.6.1
mistune==0.8.4
MouseInfo==0.1.3
murmurhash==1.0.5
Naked==0.1.31
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
nltk==3.5
notebook==6.1.5
numpy==1.19.4
opencv-python==4.4.0.46
packaging==20.8
pandas==1.1.5
pandocfilters==1.4.3
parso==0.7.1
passlib==1.7.4
pefile==2019.4.18
pickleshare==0.7.5
Pillow==8.0.1
plac==1.1.3
plyer==2.0.0
preshed==3.0.5
prometheus-client==0.9.0
prompt-toolkit==3.0.8
psutil==5.8.0
py2exe==0.10.2.0
PyAutoGUI==0.9.52
pycparser==2.20
pygame==2.0.1
pygeoip==0.3.2
PyGetWindow==0.0.9
Pygments==2.7.3
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.10
pylint==2.6.2
PyMsgBox==1.0.9
pyparsing==2.4.7
pyperclip==1.8.2
pypiwin32==223
PyRect==0.1.4
pyrsistent==0.17.3
PyScreeze==0.1.26
python-dateutil==2.8.1
python-gnupg==0.4.6
pyttsx3==2.90
PyTweening==1.0.3
pytz==2020.4
pywin32==300
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.4
pyzmq==20.0.0
qtconsole==5.0.1
QtPy==1.9.0
reportlab==3.5.58
requests==2.25.1
scikit-learn @ file:///C:/Users/cmuta/Downloads/scikit_learn-0.23.2-cp39-cp39-win_amd64.whl
scipy==1.5.4
seaborn==0.11.1
Send2Trash==1.5.0
shellescape==3.8.1
six==1.15.0
sklearn==0.0
sns==0.1
soupsieve==2.1
spacy==2.3.5
SQLAlchemy==1.3.20
sqlparse==0.4.1
srsly==1.0.5
terminado==0.9.1
testpath==0.4.4
thinc==7.4.5
threadpoolctl==2.1.0
tkcalendar==1.6.1
toml==0.10.2
tornado==6.1
tqdm==4.56.0
traitlets==5.0.5
urllib3==1.26.2
vidstream==0.0.10
virtualenv @ file:///C:/Users/cmuta/OneDrive/Desktop/WORK/python%20modules/virtualenv-16.7.9-py2.py3-none-any.whl
wasabi==0.8.1
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
whichcraft==0.6.1
widgetsnbextension==3.5.1
wikipedia==1.4.0
winregistry==0.8.3
WMI==1.5.1
wrapt==1.12.1
zipp==3.4.0
zope.event==4.5.0
zope.interface==5.2.0
